.row {
    margin: 0;
} 
.my__background1 
{
    background-color: #E3E3E3;
    height: 100vh;
}
#text1 
{
    border-bottom: 2px solid darkgray;
    padding: 10px; 
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0 ;
} 
.Hero__input 
{
    width: 100%;
    padding: 10px;
    border-top: none; 
    border-left: none;
    border-right: none;
}

.cardInput{
    position: fixed;
  width: 100%;
  
  display: flex;
  align-items: center;
  
}

.bg__img{
    height: 100vh;
}
#text2 
{
    color: White; 
    font-weight: 900; 
    font-size: 2rem; 
    text-align: center; 
    background-color: #519872;
    border-radius: 25px;
}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

#text3 
{
    color: black; 
    font-weight: 600;
    background-color: #dddddd;
    border: 1px solid dodgerblue;
    font-size: 2rem;
}  
  
  
  .icon {
   
    transform: rotate(90deg);
  }




@media only screen and (max-width: 600px) 
{
.mukta{
    margin-top: 28px;
} 
.bg__img 
{
    height: 43vh;
}
}